# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Misc
*.Rhistory
*/log/
.idea/

*.name
task1/src/.idea/scopes/scope_settings.xml
task1/src/.idea/modules.xml
task1/src/.idea/misc.xml
task1/src/.idea/src.iml
task1/src/.idea/encodings.xml
task1/src/.idea/vcs.xml
task1/src/.idea/workspace.xml
*.Rproj.user
*.Rproj
*.zip
